<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
</head>
<body>
    <h1>Crear Nueva Tarea</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear Tarea</button>
    </form>
    <p><a href="{% url 'home' %}">Volver a Home</a></p>
    <p><a href="{% url 'tareas' %}">Lista de Tareas</a></p>
    <p><a href="{% url 'crear_tarea' %}">Crear Nueva Tarea</a></p>
</body>
</html>
