{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App - Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Task Manager App</h1>
    
    <h2>Tus tareas pendientes:</h2>
    <ul>
        {% for tarea in tareas %}
            <li>{{ tarea.nombre }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'tareas' %}">Ver todas las tareas</a>
</body>
</html>
