{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Fecha Límite</th>
                <th>Categoría</th>
                <th>Completada</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.fecha_creacion }}</td>
                <td>{{ tarea.fecha_limite }}</td>
                <td>{{ tarea.categoria }}</td>
                <td>{{ tarea.completada }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
