{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Tareas</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Fecha Límite</th>
                <th>Categoría</th>
                <th>Completada</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.fecha_creacion }}</td>
                <td>{{ tarea.fecha_limite }}</td>
                <td>{{ tarea.categoria }}</td>
                <td>{{ tarea.completada }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'home' %}">Volver a Home</a></p>
</body>
</html>

